/* --- Global Styles --- */
@font-face {
  font-family: 'Lato-Light';
  /* First see if the user has the font installed locally before downloading the font */
  src: local('Lato-Light'), local('Lato Light'), url('./assets/fonts/Lato-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Regular';
  src: local('Lato-Regular'), local('Lato Regular'), url('./assets/fonts/Lato-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Bold';
  src: local('Lato-Bold'), local('Lato Bold'), url('./assets/fonts/Lato-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

:root {
  --surface-dark: #222222;
  --surface-light: #f2f1ef;
  --text-dark: #2f3237;
  --text-light: #ffffff;
  --accent: #47e4c2;
}

html {
  box-sizing: border-box;
  /* Default font-size 10px for easy rem math */
  font-size: 10px;
  line-height: 1.5;
  /* Establish font fallbacks that utilize operating system defaults */
  font-family: 'Lato-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

body {
  min-height: 100vh;
  font-size: 2rem;
  background-color: var(--surface-light);
  color: var(--text-dark);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Disable Animations for people who request it */
@media (prefers-reduced-motion) {
  *,
  *::before,
  *::after {
    transition: none !important;
    animation: none !important;
  }
}

::selection {
  color: var(--black);
  /* Setting very little opacity because Chrome will apply their own if I don't */
  background: rgba(71, 228, 194, 0.99);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato-Light', sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

p,
ul,
ol {
  line-height: 1.7777;
  font-weight: 400;
}

img,
video {
  max-width: 100%;
}

/* --- Scrollbar Styles --- */
body::-webkit-scrollbar {
  width: 12px;
}
html {
  scrollbar-width: thin;
  scrollbar-color: var(--accent) var(--surface-dark);
}
body::-webkit-scrollbar-track {
  background: var(--surface-dark);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 6px;
  border: 3px solid var(--surface-dark);
}

/* --- Utility Classes --- */

/* Visually hides content, but keeps it on a11y tree */
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

/* Remove default list behavior from components that are semantically lists, but don't need to behave like one */
.semantic-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  line-height: 1;
  padding: 0;
  margin: 0;
}

/* --- Component Styles --- */

/* Content Container */

.content-container {
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;
}

/* Navigation.js */
.navigation {
  background-color: var(--surface-dark);
}

.navigation nav {
  display: flex;
  align-items: center;
  height: 53px;
}

.navigation .logo {
  width: 144px;
  fill: var(--accent);
}

/* SkipLink.js */
.skip-link {
  display: block;
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: var(--text-light);
}

.skip-link:focus,
.skip-link:focus-within {
  position: relative;
  width: auto;
  height: auto;
  left: 0;
  z-index: 9999;
}

/* Hero.js */
.hero {
}

/* HowItWorks.js */
.how-it-works {
}

.how-it-works ol {
  list-style: none;
}
